

body {
    padding: 0px;
}

main {
    padding: 16px;
}
footer {
    background-color: lightgreen;
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
}
p {
}

img {
    height: 200px;
    width: 200px;
}

nav {
    background-color: coral;
    border-bottom: 1px;
    padding: 16px;
}

#scrumptious-recipes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 15px;
}

.food-item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .food-item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .food-item3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .food-item4 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
  }

  .food-item5 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  a:link {
    text-decoration: none;
}

h3 a {
    color: green;
}

nav a {
    color: white;
}

h1 {
    color: darkgreen;
}

.ingredient-format tr:nth-child(even) {
    background-color: grey;
}
